/* font kit start here */
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Black.woff2') format('woff2'),
        url('../fonts/Nunito-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-BlackItalic.woff2') format('woff2'),
        url('../fonts/Nunito-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-BoldItalic.woff2') format('woff2'),
        url('../fonts/Nunito-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraBold.woff2') format('woff2'),
        url('../fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Nunito-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Nunito-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Italic.woff2') format('woff2'),
        url('../fonts/Nunito-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Light.woff2') format('woff2'),
        url('../fonts/Nunito-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-LightItalic.woff2') format('woff2'),
        url('../fonts/Nunito-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-MediumItalic.woff2') format('woff2'),
        url('../fonts/Nunito-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.woff2') format('woff2'),
        url('../fonts/Nunito-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Nunito-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
        url('../fonts/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraLight.woff2') format('woff2'),
        url('../fonts/Nunito-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}




/* font kit end here */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito';
}

a {
    text-decoration: none;
}

/* header css start */
header.site_header {
    padding: 20px 0px;
}

.site_header .nav {
    align-items: center;
}

header.site_header .nav-btn a {
    border-radius: 6px;
    border: 1px solid #74BC1F;
    padding: 11px 19px;
    color: #74BC1F;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

header.site_header .nav-btn a.signup-btn {
    background: #74BC1F;
    color: #fff;
}

/* header css end */
/* home header css start */
header.home-header .navbar-nav a {
    color: #231f20b3;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 0px!important;
    margin-right: 45px;
}

.home-header .container-md{
    position: relative;
 
}
.desktop_menu_btns {
    position: relative;
    width: 100%;
    text-align: end;
    display: flex;
    justify-content: end;
    gap: 35px;
    align-items: center;
    z-index: 1112;
    max-width: 345px;
    margin-left: auto;
}
.header-login-btn button.btn {
    background: transparent;
    color: #231f20b3;
    font-weight: 400;
}
.header-login-btn button.btn:hover{
    border-color: #74BC1F;
}
.header-login-btn .dropdown-item.active, .header-login-btn .dropdown-item:active{
 background-color: #74BC1F;   
}
header.home-header .navbar-nav {
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1111;
    width: 100%;
    justify-content: center;
}
header.home-header .navbar-nav a.active {
    color: #74BC1F;
    font-weight: 700;
}
.navbar-expand-md .navbar-collapse .header-login-btn button.btn {
    border-radius: 6px;
    border: 1px solid #74BC1F;
    background: #FFF;
    color: #74bc1f;
    margin-right: 16px;
    margin-left: 63px;
}
.hi_there_btn button,  .hi_there_btn button:active {
    border-radius: 6px;
    background: #74BC1F;
    color: #FFF;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding: 10px 17px;
}
.header-login-btn a.login_btn_header {
    border-radius: 6px;
    background: transparent;
    color: #74BC1F;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding: 10px 17px;
    border: 1px solid #74BC1F;
}
.hi_there_btn button:hover {
    background: #74bc1f;
    color: #fff;
}

header.home-header {
    padding: 20px 0px;
}

/* home header css end */
/* home sec css start */
.home_sec {
    margin-bottom: 70px;
}

.home_sec .home_sec_inner {
    background-image: url(../images/home-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 140px 0 100px;
    background-position: center;
}

.home_sec_inner::after {
    position: absolute;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
    height: 100%;
    width: 100%;
    z-index: 1;
    content: '';
    top:0;
}


.home_content {
    position: relative;
    z-index: 2;
    max-width: 876px;
}

.home_sec .home_sec_inner .home_content h1 {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
    margin-bottom: 35px;
    padding: 0px 20px;
}

.home_sec .home_sec_inner .home_content p {
    color: #FFF;
    text-align: center;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 0px 0px;
    max-width: 570px;
    margin: 0 auto 50px;
}

.home_sec .home_sec_inner .home_content .home_sec_btns button {
    border-radius: 6px;
    border: 1px solid #74BC1F;
    background: #74BC1F;
    color: #FFF;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding: 19px 19px;
}

.home_sec .home_sec_inner .home_content .home_sec_btns button.case-manager-portal {
    background-color: transparent;
    border: 1px solid #fff;
}

.home_sec .home_sec_inner .home_content .home_sec_btns {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.how_can_i_assist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
    padding: 14px 25px;
}

.assist_content {
    display: flex;
    gap: 12px;
    align-items: center;
}

.how_can_i_assist h6 {
    color: #231F20;
    text-align: center;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.home_bottom {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.ask_here_btn button {
    border-radius: 4px;
    background: #74BC1F;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    border: transparent;
    padding: 7px 18px;
}
section.dme_home_products {
    padding-top: 22px;
    padding-bottom: 30px;
}
.product_list_main {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 22px;
}
.product_heading h2 {
    color: #231F20;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 12px;
    text-align: center;
}
.product_heading  p {
    max-width: 470px;
    margin: 0 auto;
    color: rgba(35, 31, 32, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 35px;
}
.product_name h5{
    color: #231F20;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 250% */
letter-spacing: 0.2px;
text-transform: capitalize;
margin-bottom: 15px;
margin-top: 15px;
}
.pro_des p{
    color: rgba(35, 31, 32, 0.70);
    margin-bottom: 15px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.2px;
margin-bottom: 15px;
}
.see_more a{
    color: #74BC1F;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
.single_products {
    border-radius: 8px;
    background: #FFF;
    border: 1px solid #F3F3F5;
    cursor: pointer;
}
.product_all_desc{
    padding: 12px;
}
.single_products:hover {
    box-shadow: 0px 4px 7px 0px #00000033;
    border-radius: 8px;
}
.product_heading {
    position: relative;
}
.view_all_btn a {
    color: #74BC1F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.view_all_btn {
    position: absolute;
    bottom: -12px;
    right: 0;
}
/* home sec css end */
/* choose-your-role css start */
.choose_role .choose_role_inner {
    background-image: url(../images/login-page-bg.png);
    padding: 90px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    position: relative;
}

 .choose-your-role {
    padding: 30px 90px;
    border-radius: 12px;
    background: #FFF;
    text-align: center;
    position: relative;
}

 .choose-your-role h1 {
    color: #231F20;
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

 .choose-your-role p {
    color: rgba(35, 31, 32, 0.50);
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signup_form_outer .choose-your-role p {
    text-transform: capitalize;
}

.select_role {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 40px 0px;
}

.select_role .option_for_role {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.10);
    width: 170px;
    height: 170px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.select_role .form-check-input:checked + label .option_for_role {
    border: 1.5px solid #74BC1F;
    background: rgba(116, 188, 31, 0.07);
}
.select_role .form-check-input:checked + label  .option_for_role h3{
    color: #74BC1F;
}
.select_role .form-check-input:checked + label  .option_for_role svg path{
    fill: #74BC1F;
}
.select_role .form-check-input {
    display: none;
}

.select_role .option_for_role.active {
    border: 1.5px solid #74BC1F;
    background: rgba(116, 188, 31, 0.07);
}

.select_role .option_for_role h3 {
    color: #918F8F;
    font-family: 'Nunito';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 0px;
}

.select_role .option_for_role.active svg path {
    fill: #74bc1f;
}

.select_role .option_for_role.active h3 {
    color: #74BC1F;
}

.continue-btn button,
.continue-btn button:hover {
    border-radius: 6px;
    border: 1px solid #74BC1F;
    background: #74BC1F;
    padding: 11px 19px;
    color: #FFF;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.continue-btn button:active {
    background-color: #74BC1F !important;
    color: #FFF !important;
}

/* choose-your-role css end */
/* sign up css start */
.input-field input {
    border: none;
    border-bottom: 1px solid #0000001a;
    border-radius: 0px;
    height: 45px !important;
    min-height: auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 8px !important;
    position: relative;
    color: #231f20b3;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.input-field.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    transform: scale(.85) translateY(-1rem) translateX(0.15rem);
}

.input-field input:focus {
    box-shadow: none;
    border-color: #0000001a;
}

.input-field.form-floating>label {
    padding: 16px 0px;
}

.input-field label {
    color: #231f20b3;
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.signUp_form {
    padding-top: 34px;
}

.show_password_icon {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.signup_form_outer .sign_up_btn {
    padding: 30px 0px;
}

.signup_form_outer .already_have_acc p {
    color: #231f20b3;
    font-family: 'Nunito';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signup_form_outer .already_have_acc {
    padding-top: 30px;
    border-top: 1px solid #00000012;
}

.signup_form_outer .already_have_acc p a {
    color: #74BC1F;
    font-weight: 700;
    text-transform: capitalize;
}

/* sign up css end */
/* login css start */
.input-field.remember_me {
    display: flex;
    justify-content: space-between;
}

.remember_me_checkbox .form-check-input[type=checkbox] {
    height: 20px !important;
    width: 20px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
}

.remember_me_checkbox .form-check-input[type=checkbox]:checked {
    background-color: #74BC1F;
}

.remember_me_checkbox label {
    text-transform: inherit;
    margin-left: 10px;
}

.remember_me .forgot_pass a {
    color: #F00;
    font-family: 'Nunito';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.choose_role .choose_role_inner .overlay{
    position: absolute;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

/* login css end */
/* verification-otp css start */
.verification-otp-subHeading span {
    font-weight: 700;
}

.verification_otp .enter_otp input {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: transparent;
    color: #000;
    font-size: 23.04px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verification_otp .enter_otp input:focus-visible {
    outline: none;
}

.signUp_form.verification_otp .enter_otp {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding-bottom: 30px;
}

/*verification-otp css end */

/* product page css start here */
.all_products_view .product_list_main {
    grid-template-columns: 2fr 2fr 2fr;
}
.all_products_view .product_category_list_main {
    display: grid;
    grid-template-columns: 2fr 7fr;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #F3F3F5;
}
.product_list {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 12px 12px 0;
}
.product_number {
    padding: 0 0 16px;
}
.product_number h5 {
    color: rgba(35, 31, 32, 0.70);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product_number h5 span {
    font-weight: 700;
}
.product_category_list {
  
    padding: 15px 20px;
}
.product_category_list .category_list h4 {
    color: #231F20;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 21px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.all_cat_list .cat_name label.custom-checkbox {
    color: #656263;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 21px;
    position: relative;
    padding-left: 35px;
}
.more_category a{
    color: #74BC1F;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}

.all_cat_list .custom-checkbox input:checked ~ .checkmark {
    background-color: #74BC1F;
    border-color: #74BC1F;
}
  .all_cat_list .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  .all_cat_list .custom-checkbox .checkmark::after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .all_cat_list .custom-checkbox input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .all_cat_list  .checkmark {
    background-color: #f3f3f5;
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    aspect-ratio: 1;
    border: 2px solid #656263;
    border-radius: 2px;
  }
  .all_cat_list  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
/* product page css end here */

/* product detail css start here */
.product-detail-main {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap:30px;
    margin-top: 40px;
}
.product_slider ul li img {
    width: 320px;
    height: 290px;

}
.product-detail-leftside .product_slider .lSSlideOuter.vertical {
    padding-left: 115px;
    padding-right: 0!important;
}
.product-detail-leftside .lSSlideOuter.vertical .lSGallery{
    left: 0!important;
    margin-right: 5px;
    margin-left: 0!important;
    width: 100px!important;

}
.product-detail-leftside .lSSlideOuter.vertical .lSGallery img {
    width: 100px!important;
    height: 90px!important;
    max-width: inherit!important;
    border-radius: 4px;
    object-fit: cover;
}
.product-detail-leftside .lSSlideOuter.vertical .lSGallery li{
    /* margin-bottom: 9px!important; */
}
.product-detail-leftside .lSAction a.lSNext{
    background-image: url(../images/down-arrow.png)!important;
    height: 10px;
    width: 16px;
    opacity: 1;
}
.product-detail-leftside .lSAction a.lSPrev{
    background-image: url(../images/up-arrow.png)!important;
    height: 10px;
    width: 16px;
    opacity: 1;
    /* left: -16%!important; */

}
.product-detail-inner .product-heading h3 {
    color: #231F20;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
}
.product-detail-inner .product-heading p {
    color: rgba(35, 31, 32, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.2px;
    margin-top: 20px;
}
.more-details {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 20px;
}
.more_content h5{
    color: #231F20;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.more_content-area p{
    color: #656263;
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}

.more_content-area p span{
    font-weight: 400;  
}

.pro_feature p{
margin-bottom:0;
line-height: 22px;
}
/* product detail css end here */
/* order sample form css start here */
.case_manager_option a{
    margin-right: 16px;
    max-width: 90px;
    display: flex;
    gap: 9px;
}
.case_manager_option img {
    width: 40px;
    height: 40px;
}
.case_manager_option span {
    color: #231F20;
    text-align: right;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    font-size: 14px;
}
/* order sample form css end here */

/* dashboard css start here */

.dashboard_main{
margin-top:54px;
}
.dashboard_menu_lists {
    display: grid;
    grid-template-columns: 2fr 6fr;
}
.dashboard_menu_lists .nav.flex-column.nav-pills {
    border-radius: 12px 0px 0px 12px;
    background: #74BC1F;
    padding: 15px 20px;
    height: 642px;
    position: relative;
}
.dashboard_menu_lists .nav.flex-column.nav-pills .nav-link.last_link {
    position: absolute;
    bottom: 5%;
    width: 85%;
 
    left: 50%;
    transform: translate(-50%, 0px);
    padding-bottom: 10px;
}
.dashboard_menu_lists .nav.flex-column.nav-pills .nav-link.last_link:after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.50);
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0;
}
.dashboard_menu_lists .nav.flex-column.nav-pills .nav-link.last_link.active:after {
    bottom: -12px;   
}
.case_manager_heading h5 {
    color: #FFF;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.dashboard_menu_lists .nav-link{
    text-align: start;
    color: #FFF;
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
margin-bottom: 10px;
display: flex;
align-items: center;
gap: 10px;
padding: 5px 10px;
}
.dashboard_menu_lists .nav-link.active {
    border-radius: 4px;
    border: 1px solid #FFF;
    background: #FFF!important;
    color: #74BC1F;
    
    font-weight: 700;
    
}
.dashboard_menu_lists .nav-link.active svg path{
fill:#74BC1F;
}
.dashboard_menu_lists .nav-link svg path {
    fill: #fff;
}
.dashboard_main_inner {
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}
.dashboard_main_inner .tab-content {
    padding: 27px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.choose_product {
    padding: 22px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #D9D9D9;
    background: #F3F3F5;
}
.delivery_method {
    border-radius: 0px 0px 0px 0px;
    border-top-width: 0px;
}
.enter-patient-info{
    border-radius: 0px 0px 5px 5px; 
    border-top-width: 0px; 
}
.choose_product h5 {
    color: #231F20;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.pick-up-offc {
    margin-bottom: 16px;
}
.pick-up-offc span {
    color: rgba(35, 31, 32, 0.97);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    margin-left: 3px;
}
.choose_product select.form-select {
    color: rgba(35, 31, 32, 0.70);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.2px;
}
.form-select:focus{
    box-shadow: none;
}
.enter-patient-info .col-md-6 {
    margin-bottom: 20px;
}
.enter-patient-info .submit_btn button.btn {
    border-radius: 6px;
    border: 1px solid #74BC1F;
    background: #74BC1F;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding: 9px 30px;
}
.delivery_method .form-floating label {
    color: #231F20!important;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.2px;
    padding: 10px 10px;
    transform: none!important;
}
.delivery_method .form-floating>.form-control:focus~label{
    padding-top:10px!important;
}
.delivery_method  .form-floating>.form-control:focus{
    box-shadow: none;
}
.delivery_method  textarea.form-control{
    color: rgba(35, 31, 32, 0.70);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.2px;
    padding-top: 35px!important;
}
.authorozation-list h5 {
    color: #231F20;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}
.profile_main_inner .profile_main_left .profile_heading h5 {
    color: #231F20;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.profile_image {
    margin-top: 40px;
    text-align: center;
}
.profile_user_name {
    margin-top: 22px;
    text-align: center;
}
.profile_user_name h6 {
    color: #231F20;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.change-btn {
    margin-top: 22px;
    text-align: center;
}
.dlt-text a{
    color: #F00;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
margin-bottom: 0;
}
.form-control:focus{
    box-shadow: none;
}
.profile_user_name span {
    color: rgba(35, 31, 32, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.change-btn button.button {
    border-radius: 6px;
    background: #74BC1F;
    padding: 11px 43px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.profile_main_inner {
    display: grid;
    grid-template-columns: 2fr 4fr;
    max-width: 700px;
    margin: 0 auto;
}
.profile_main_right .basic-info h6 {
    color: #231F20;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.basic_btns button.btn {
    border-radius: 4px;
    background: #74BC1F;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 4px;
border: 1px solid #74BC1F;
padding: 5px 20px;
}
.basic_btns {
    display: flex;
    gap: 20px;
    align-items: center;
}
button.cancel.btn {
    background: transparent;
    color: #74BC1F;
}
.profile_main_right .basic-info {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);

}
.profile_main_right {
    margin-top: 50px;
    padding-left: 35px;
    border-left: 1px solid rgba(0, 0, 0, 0.13);
}
.basic_form input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10)!important;
    border: none;
    border-radius: 0;
    margin-top: 20px;
    color: rgba(35, 31, 32, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.basic_form input::placeholder{
    color: rgba(35, 31, 32, 0.70);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
/* dashboard css end here */

/* order management css start hete */
.order-management_dashboard_main .dashboard_menu_lists .order-tabs .nav-link {
    color: #656263;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-transform: capitalize;
    border-radius: 4px 4px 0px 0px;
border: 1px solid rgba(0, 0, 0, 0.07);
background: rgba(116, 188, 31, 0.07);
padding: 9px 20px;
}
.order-management_dashboard_main .dashboard_menu_lists .order-tabs .nav-link.active{
    border-radius: 4px 4px 0px 0px;
    background: #74BC1F!important;
    color:#fff;
}
.order-management_dashboard_main .order-tabs ul.nav.nav-pills{
    gap:6px;
}

.order-management_dashboard_main .table-striped>tbody>tr:nth-of-type(odd)>*{
    background: #F5FAEF;
}
.order-management_dashboard_main .table-striped>tbody>tr>td{
    color: #656263;
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
text-transform: capitalize;
}

.order-management_dashboard_main .table-striped>thead>tr>th {
        color: #231F20;
        font-family: Nunito;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        text-transform: capitalize;
    }

    .support-inner-box .ticket-box {
        border-radius: 6px;
        border: 1px solid #E4E9DE;
        background: #F5FAEF;
        padding: 18px 15px 50px;
        max-width: 350px;
        cursor: pointer;
    }
    .support-inner-box  .ticket_heading {
        display: flex;
        align-items: center;
        gap: 1px;
    }   
    .support-inner-box  .ticket_heading h5{
        color: #656263;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 122.222% */
text-transform: capitalize;
margin-bottom: 0;
    }
    .support-inner-box  .ticket_content p{
        color: #656263;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 5px;
    }
    .order-management_dashboard_main .table-striped>tbody>tr>td.solved a{
        color: #74bc1f!important;
        font-weight: 700!important;
    }
    .support-inner-box .ticket_search-fields label {
        color: #231F20;
        font-family: Nunito;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }
    .support-inner-box .ticket_search-fields select.form-select {
        color: #656263;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-transform: capitalize;
        margin-top: 7px;
    }
    .support-inner-box .contact_lists {
        margin-top: 35px;
    }
    .all-clear-btn button.btn {
        border-radius: 4px;
        background: #74BC1F;
        color: #FFF;
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .all-clear-btn button.btn.clear {
        color: #F00;
background-color: transparent;
    }
    .ticket-history-heading h4 {
        color: #231F20;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        text-transform: capitalize;
    }
    .ticket-history-heading-btn {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .create-ticket-btn a {
        border-radius: 4px;
        background: #74BC1F;
        color: #FFF;
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 8px 10px;
        display: inline-block;
    }
    .ticket-history-heading p {
        color: #656263;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .ticket_search-fields {
        margin-top: 25px;
    }
    .ticket-number-detail p {
        color: #231F20;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .ticket-number-detail {
        margin-bottom: 30px;
    }
    .ticket-number-detail .comment-box textarea {
        height: 200px;
    }
    .authorization-form .choose_product.enter-patient-info {
        border-radius: 5px;
        border-top: 1px solid #d9d9d9;
    }
    .ticket-number-detail p span{
        font-weight: 700;
    }
    .ticket-number-detail p.long-text {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    padding: 15px;
    margin-top: 20px;
    color: #656263;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 200% */
}
.comment-box span {
    color: #231F20;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 7px;
    display: inline-block;
}
.add_comment button.btn {
    border-radius: 4px;
    background: #74BC1F;
    padding: 8px 18px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 23px;
}

/* order management css end here */
/* footer css start */
footer .footer-top {
    padding: 60px 0px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

footer .site-logo {
    padding-bottom: 22px;
}

footer .footer_left p {
    color: #231f20b3;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .footer_links .site_links {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 18px;
    grid-column-gap: 60px;
}

footer h2.footer-heading {
    color: #231F20;
    font-family: 'Nunito';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 18px;
}

footer .footer_links .site_links a {
    color: #231f20b3;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.footer_social_links .footer_icons {
    display: flex;
    gap: 18px;
}

.footer_social_links .footer_icons .social_icon:hover circle {
    fill: #74BC1F;
    stroke: #74bc1f;
}

.footer_social_links .footer_icons .social_icon:hover path {
    fill: #fff;
}

.footer-bottom {
    padding: 15px 0px;
}

.footer-bottom .footer_copyright p {
    color: #00000066;
    font-family: 'Nunito';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}

/* footer css end */

/* resposnive css start */
@media(max-width:1200px) {
    header.home-header .navbar-nav a {
margin-right: 20px;
    }
    header.home-header .navbar-nav {          
    left:40%;
}
.desktop_menu_btns {
gap:20px;
}
}
@media(max-width:992px) {
    .dashboard_main_inner .tab-content {
        padding: 15px;
    }
    .profile_main_inner{
        grid-template-columns: 4fr 4fr;
    }
    .profile_main_right .basic-info {
        display: block;
    }
    .ticket_search-fields .row .col-md-3 {
        width: 100%;
        margin-bottom: 10px;
    }
    .basic_form .row {
        display: block;
    }
    .basic_form .row .col-md-6 {
        width: 100%;
    }
    .profile_main_right{
        padding: 20px;
    }
    
    .create-ticket-btn a{
        width: 170px;
        text-align: center;
    }
    .product_slider ul li img {
    width: 250px;
    object-fit: fill;
}
    .authorozation-list h5{
        font-size: 24px;
    }
    .dashboard_menu_lists .nav.flex-column.nav-pills{
        height:100%;
    }
    .dashboard_main{
        margin-top: 0;
    }
    .dashboard_menu_lists .nav.flex-column.nav-pills .nav-link.last_link {
        position: relative;
        right: auto;
        left: auto;
        transform: none;
        bottom: auto;
        width:100%;
    }
    section.dme_home_products{
        padding-top:0;
    }
    .all_products_view .product_category_list_main{
        grid-template-columns: 3fr 7fr;
    }
    .all_products_view .product_list_main{
        grid-template-columns: 2fr 2fr;
    }
    header.home-header .navbar-nav a {
        margin-right: 0px;
    }
    header.home-header .navbar-nav {
        position: relative;
        transform: none;
        left: auto;
    }
    .product_list_main {
        grid-template-columns: 2fr 2fr 2fr;
    }
    .case_manager_option a {
        margin-right: 0px;
        max-width: 174px;
        align-items: center;
    }
    .desktop_menu_btns {
        display: grid;
        text-align: center;
        gap: 10px;
        justify-content: center;
    }
    header nav .navbar-collapse {
        position: absolute;
        top: 90%;
        z-index: 4;
        width: 100%;
        background: #fff;
        padding-bottom: 20px;    
    }
    .home_content {
        max-width: 100%;
        padding: 0px 20px;
    }
    .home_sec .home_sec_inner .home_content h1{
        padding: 0px;
        font-size: 32px;
        line-height: 40px;
    }

    .how_can_i_assist {
        gap: 30px;
    }

    .home_bottom {
        width: 60%;
    }

    header.home-header .navbar-nav {
        gap: 10px;
    }
}

@media(max-width:767px) {
    .authorization-form .choose_product.enter-patient-info{
        padding: 10px;
    }
    .case_manager_heading h5{
        margin-bottom: 10px;
    }
    .ticket_search-fields {
        margin-top: 10px;
    }
    table.table.table-striped {
        border: 1px solid #eee;
    }
    
    
    .dashboard_main_inner .tab-content {
        padding: 20px;
    }
    .dashboard_menu_lists{
        display:block;
    }
    .dashboard_menu_lists .nav.flex-column.nav-pills {
        height: 100%;
        border-radius: 12px 12px 0 0;
    }
    .product-detail-leftside .lSSlideOuter.vertical .lSGallery {
        left: 14%!important;
    }
    .product-detail-main{
        display: block;
    }
    .product_slider ul li img {
        width: 66%;
        height: 100%;
    }
    .product-detail-leftside li.lslide{
        text-align: center;
    }
    .product-detail-inner {
        margin-top: 30px;
    }
    .all-clear-btn {
        margin-top: 15px;
    }
    .dashboard_main{
        margin-bottom:50px;
    }
    .all_products_view .product_category_list_main {
        grid-template-columns: 3fr 6fr;
    }
    .all_cat_list .cat_name label.custom-checkbox{
        font-size: 14px;
    }
    .all_cat_list .checkmark{
        height:15px;
    }
    .all_cat_list .cat_name label.custom-checkbox{
        padding-left: 22px;
    }
    .all_cat_list .custom-checkbox .checkmark::after {
        left: 3px;
        top: 0px;
    }
    .dme_product_main .product_list {
        padding: 20px;
    }
    .more_category a{
        font-size: 14px;
    }
    .product_category_list .category_list h4{
        font-size: 16px;
    }
    .how_can_i_assist {
        padding:  14px 0;
    }
    .single_products .product_image img{
        width:100%;
    }
    .product_list_main {
        grid-template-columns: 2fr 2fr;
    }
    .product_list{
        padding: 0;
    }
    .view_all_btn {
        position: inherit;
        bottom: auto;
        left: auto;
        text-align: center!important;
        margin-bottom: 25px;
    }
     .choose-your-role {
        padding: 30px 30px;
    }

    .select_role {
        padding: 20px 0px;
    }

    .choose_role .choose_role_inner {
        padding: 50px 50px;
    }

    .signup_form_outer .sign_up_btn {
        padding: 20px 0px;
    }

    footer .footer-top {
        padding: 0px 0px 0px;
    }

    .home_sec .home_sec_inner .home_content h1 {
        font-size: 26px;
        line-height: 40px;
    }

    .home_sec .home_sec_inner .home_content p {
        padding: 0px;
    }

    .home_bottom {
        width: 100%;
        max-width: 70%;
    }

    .how_can_i_assist {
        gap: 5px;
        display: grid;
        justify-content: center;
        grid-template-columns: 4fr 2fr;
    }

    header.home-header .navbar-toggler:focus {
        box-shadow: none;
    }
    
    header.home-header .navbar-nav a.active{
        color: #74BC1F;
    }
 
    header.home-header .navbar-nav a{
        color: #000000;
    }
    .product_list_main {
        gap:7px
    }
    .product_name h5{
        margin-top: 0;
        margin-bottom: 5px;
    }
    .pro_des p{
        margin-bottom: 5px;
    }
    .product-detail-main{
        margin-top:20px;
    }
    section.choose_role.signUp_sec {
        margin-bottom: 20px;
    }

}

@media(max-width:576px) {
    .profile_main_inner {
        grid-template-columns: 100%;
    }
    .profile_main_right{
        margin-top: 0;
    }
    .profile_main_right{
        border-left: 0;
    }
    .choose_product .row .col {
        margin-bottom: 10px;
    }
    .choose_product .row{
        display: block;
    }
    .choose_product.delivery_method .row {
        display: grid;
        gap: 10px;
    }
    .ticket-history-heading-btn {
        display: block;
    }
    .product_slider ul li img {
        width: 100%;
    }
    .product-detail-leftside .lSSlideOuter.vertical .lSGallery {
        left: 0%!important;
    }
    .dme_product_main .product_list {
        padding: 7px;
    }
    .product_category_list {
        padding: 7px 12px;
    }
    .product_category_list .category_list h4{
        font-size: 14px;
    }
    header.site_header,
    header.home-header {
        padding: 10px 0px;
    }

    .select_role {
        gap: 20px;
    }

    .select_role .option_for_role h3 {
        font-size: 16px;
    }

    .choose_role .choose_role_inner {
        padding: 20px 20px;
    }

    .signUp_form {
        padding-top: 20px;
    }

     .choose-your-role h1 {
        font-size: 20px;
    }

     .choose-your-role p {
        font-size: 14px;
        margin-bottom: 0px;
    }

    .continue-btn button,
    .continue-btn button:hover {
        font-size: 14px;
    }

    .logo img {
        width: 70px;
    }

    header.site_header .nav-btn a {
        font-size: 14px;
        padding: 8px 19px;

    }

    footer .footer-top {
        padding: 40px 0px 0px;
    }

    .home_bottom {
        left: 23px;
        transform: inherit;
        right: 26px;
        width: auto;
        max-width: inherit;
    }

    .home_sec .home_sec_inner .home_content h1 {
        font-size: 22px;
        line-height: normal;
    }

    .home_sec .home_sec_inner .home_content .home_sec_btns button {
        padding: 13px 19px;
        font-size: 14px;
    }

    .how_can_i_assist {
        background: transparent;
        display: grid;
        gap: 15px;
        box-shadow: none;
        justify-content: center;
        grid-template-columns: 100%;

    }

    .assist_content {
        background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 10px 10px;
        border-radius: 100px;
        justify-content: center;
    }

    .ask_here_btn button {
        width: 100%;
        border-radius: 100px;
        padding: 10px 18px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .home_bottom {
        position: inherit;
    }

    .home_sec {
        margin-bottom: 0px;
    }

    .home_content {
        padding: 0px 20px;
    }

    .home_sec .home_sec_inner {
        height: 250px;
    }
    header.home-header div#navbarSupportedContent{
        top: 50px;
        left:0;
    }
   
}

@media(max-width:420px) {
    .product-detail-leftside .lSSlideOuter.vertical .lSGallery img {
        width: 75px!important;
    }
    .product-detail-leftside .product_slider .lSSlideOuter.vertical {
        padding-left: 84px;
    }    
   
    .all_cat_list .cat_name label.custom-checkbox{
        margin-bottom: 8px;
    }
    .all_cat_list {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .all_products_view .product_category_list_main{
        display: block;
    }
    .dme_product_main .product_list {
        padding: 10px;
        border-radius: 0 0 12px 12px;
    }
    .select_role {
        display: grid;
    }

     .choose-your-role {
        padding: 20px 20px;
    }

    .input-field.remember_me {
        display: grid;
        gap: 10px;
        text-align: left;
    }

    footer .footer_links .site_links a,
    footer .footer_left p {
        font-size: 14px;
    }

    footer .site-logo img {
        width: 80px;
    }

    .select_role .option_for_role {
        width: 140px;
        height: 120px;
    }

    .select_role .option_for_role h3 {
        font-size: 14px;
    }

    .verification_otp .enter_otp input {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    .ask_here_btn {
        text-align: center;
    }

    .home_sec .home_sec_inner .home_content .home_sec_btns {
        display: grid;
        gap: 15px;
    }

    .home_bottom {
        bottom: -60px;
    }

    .home_sec .home_sec_inner .home_content h1 {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .home_sec .home_sec_inner .home_content p {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .product_list_main{
        grid-template-columns:100%;
    }
    
}

@media(max-width:320px) {
     .choose-your-role h1 {
        font-size: 18px;
    }

    header.site_header .nav-btn a {
        font-size: 12px;
        padding: 5px 15px;
    }

    .logo img {
        width: 50px;
    }

    header.site_header {
        padding: 5px 0px;
    }

    .signUp_form.verification_otp .enter_otp {
        justify-content: space-between;
        gap: initial;
    }
}

/* resposnive css end */
