{% extends "main_templates/base.html" %}
{% load static %}
{% block content %}
    <!-- header css end -->
    <!-- home sec start here -->
    <section class="home_sec position-relative">
        <div class="container-md">
            <div class="home_sec_inner">
                <div class="overlay"></div>
                <div class="row">
                    <div class="col-lg-8 m-auto">
                <div class="home_content">
                    <h1>Durable Medical Equipment aids mobility and health, enhancing lives</h1>
                    <p>Dme Encompasses Various Devices, like Wheelchairs, Support Health, and Enhance the Quality of
                        Life for Individuals with Medical Conditions</p>
                    <div class="home_sec_btns">
                        <button class="btn patient-portal">patients portal</button>
                        <button class="btn case-manager-portal">case managers portal</button>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <div class="home_bottom">
                <div class="how_can_i_assist">
                    <div class="assist_content">
                        <img src="{% static 'images/hand-icon.svg' %}">
                        <h6 class="mb-0">How Can I Assist You Today?</h6>
                    </div>
                    <div class="ask_here_btn">
                        <button type="button" class="ask_here_btn">ask here</button>
                    </div>
                </div>   
            </div>
        </div>
    </section>
    <!-- home sec end here -->
    <!-- site footer start here -->
{% endblock %}